/*===================================
  Universal Styling
*=====================================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 48px;
}


/*===================================
  Header Styling
*=====================================*/
header {
    text-align: center;
    background: rgb(111 122 195 / .5);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

header a {
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}

header nav ul li {
    display: inline;
}


.team-division {
    background: url('../images/BG.jpg') center/cover no-repeat fixed ;
    position: relative;
    min-height: 80vh;
    z-index: 1;
}

.team-division img {
    max-width: 800px;
    margin-left: 200px;
    margin-top: 100px;
}
